*{
    padding:0;
    margin:0;
    text-decoration:none;
    box-sizing: border-box;
    
    
}
nav{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    margin-top: 0,1%;
    background-color: black;
    /* position:fixed; */
    left:0px;
    top:0px;
    position:fixed;
     z-index: 100;
  
}


.logo img{
    width:200px;
    height:100px;
    
}
.icon{
    margin-top:40px;
    font-size: 19px;
    cursor:pointer;
    float:right;
    display:none;
    color:white;
}
@media (max-width:800px){
    nav{
        position:fixed;
        z-index: 100;
    }
    nav .icon{
        display:block;

    }
    nav ul{
        position:fixed;
        width:100%;
        height:500px;
        background-color:black;
        top:80px;
        left:0;
        /* text-align: center; */
        display:flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;

        
    }
    nav ul li{
        
        display:block;
        padding-bottom:40px;
        line-height: 30px;
        

    }
    .dropdown{
        z-index: 100;
    }
   
    nav ul li a:hover{
        color:#0d89f0;
    
    }
    .dropdown_content{
        display:none;
        position:absolute;
        padding:12px 16px;
        z-index: 100;
    }
    
    nav ul.show{
        
        display:on;
    }
}
#nav-item {
    display: flex;
    align-items: center;
    margin-top:3px;
}
nav ul{
    float:right;
    text-align: center;
}
nav ul li{
    width: 160px;
    display:inline-block;
}

nav ul li a{
    color:white;
    font-size:17px ;
   
}

nav ul li a:hover{
    color:#0d89f0;;
    border-bottom: 1px solid #0d89f0;

}


.dropdown{
    position:relative;
    display:inline-block;
    z-index: 100;
}
.dropdown_content {
    display:none;
    position:absolute;
    padding:12px 16px;
    z-index: 1;
    background-color: black;
}
.dropdown:hover .dropdown_content{
    display:block;
}
.dropdown_content li{
    text-align: left;
    padding: 3px;
}
.dropdown_content li:hover{
    background-color: #ddd;
}

 /* .login:hover{
    opacity:0;
}  */
.content{
    display:flex;
    flex-wrap:wrap;
    margin-top: 50px;
    gap:100px;
}
.main-content-item{
    flex:4;
    justify-content: center;
}
.side-content-item{
    flex:1;
}
.main-content-item .introduction img{
    width:100%;
    padding:10px 10px;
    /* min-width: 300px;
    max-width: 400px;*/
    min-height:500px;
    max-height:600px ; 
    margin-left:20px;
}
.main-content-item .introduction p{
    font-size: 20px;
    padding-left: 40px;
    margin-top:20px;
    

}
.main-content-item .header{
    margin-bottom: 30px;
}
.main-content-item .header p{
    text-align: center;
    font-size: 40px;
    
}
.main-content-item img{
    text-align: center;
    
}
.sidebar_item:hover{
    transform:scale(1.1);
}


.side-content-item img{
    min-width: 200px;
    max-height:300px;
    width:93%;
}
.newfood{
    margin-top:30px;
}
.newfood h2{
    text-align: center;
}
.newfood .sidebar_item:hover{
    box-shadow: 0 10px 30px 0 rgb(187, 187, 187);
	cursor: pointer;
	transform: scale(1.05);
}
.newfood .sidebar_item{
    margin-top:50px;
    margin-bottom:30px;
}
.sidebar_item .namefood{
    text-align: center;
    font-size: 20px;
    padding-top:20px;
}
.sidebar_item .namefood a{
    color:black;
}
.sidebar_item .namefood a:hover{
    color:orange;
}
.sidebar_item .charge a{
    color:red;
    text-align: center;
    padding-top:10px;
    font-size: 20px;
}
.side .menu li a{
    color:black;
}
.menu p{
    font-size: 30px;
    text-align: center;
}
.menu ul {
    display:block;
    display:flex;
    flex-direction: column;

}
.menu ul li{
    border-bottom:1px solid #ddd;
    display:inline-block;
}
.menu ul li:hover{
    background-color: orange;
}
.menu ul li a:hover{
     color:white;
     
     

    
}
.sidebar_item:hover{

}
.contact{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact .header{
    text-align: center;
    font-size: 40px;
    margin-bottom:30px;
}
.container{
    position:relative;
    width:1280px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.container .cards{
    position: relative;
    width:300px;
    height:400px;
    background:linear-gradient(orange, orange 30%, #1d3548 30%,#1d3548);
    margin:50px;
    border-radius:20px;
    overflow: hidden;
    

}
.container .cards .imgBx{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:0.5s;
    z-index:1000;
    border-radius: 20px;
    overflow: hidden;
    transform-origin: top;
    
    
}
.container .cards:hover .imgBx{
    transform:translateY(30px) scale(0.5);
}
.container .cards .imgBx img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}
.content-contact{
    margin-top: 282px;
    align-items: center;
    text-align: center;
    /* transform:translateY(100%);
    transition: 0.5s; */
}
.content-contact .details h2{
    color:white;
}
.social-icon{
    display: flex;
    justify-content: center;
}

.social-icon li{
    list-style: none;
    margin:4px;
} 
.social-icon li a{
    width:45px;
    height:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #294d69;
    border-radius: 50%;
    font-size: 1.5em;
    color:white;
    transition:0.5s;
    text-decoration: none;


}
.social-icon li a:hover{
    transform:rotate(360deg);
}

footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    bottom:0;
    width:100%;
    margin-top:50px;
    color:white;
    background-color: black;
}
.footer-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom:50px;
    padding-top:40px;
}


footer .social-icon li a:hover #child-1{
    color: #0d89f0;
}
.footer .social-icon li a:hover #child-2{
    color: #1da1f2;
}
footer .social-icon li a:hover #child-4{
    color:red;
}
.contact{
    display:flex;
    flex-wrap: wrap;
}
.about-us{
    width:32.5%;
    padding-left: 50px;

}
.about-us .logo{
    width:50%;
}
.about-us .logo img{
    width:100%;
}
.contact-us {
    padding-left:20px;
    width: 32.5%;
    justify-content: center;
}
.contact-us .social-icon{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
}
.contact-us .social-icon  a{
    display: inline-block;
    width: 48px;
    height: 48px;
    background:aqua ;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    color:white;

}


.quick-link{
    width:32.5%;
    position: relative;
}
.quick-link li{
    list-style: none;
}
.quick-link li a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quick-link li a:hover{
    color:#0d89f0;
}


.image img{
    width:1000px;
    height:400px;
}
.open-button{
    background-color: rgb(131, 131, 255);
    color:white;
    padding:16px 20px;
    border-radius: 50%;
    border:none;
    cursor:pointer;
    opacity:0.8;
    position:fixed;
    bottom:23px;
    right:28px;
    height:50px;
    width:50px;
    transition:0.3s;
    /* box-shadow: 0 10px 30px 0 rgb(251, 197, 80); */
}
.open-button i .fa fa-comments{
    background-color: white;
}
.chat p{
    font-size: 30px;
    /* width:100%; */
}
.chat-popup{
    display:none;
    position:fixed;
    bottom:0;
    right:15px;
    z-index: 9;
    min-width:300px;
    max-width: 400px;
    min-height: 450px;
    max-height: 500px; 

}
.form-container{
    max-width: 300px;
    padding:10px;
    background-color: white;
    border-radius: 8px;
    height:430px;
}
.form-container .chat{
    background-color: cornflowerblue;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-container .typearea{
    height: 310px;
}
.form-container textarea{
    width:100%;
    padding:15px;
    margin:5px 0 22px 0;
    border:none;
    background:#f1f1f1;
    border-radius: 8px;
    resize:none;
    min-height: 200px;
    height:100%;
}

.form-container .send{
   
    size:50px;
    width:100%;
    display:flex;
    flex-wrap: wrap;
}
.send .mess{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    height: 36px;
    line-height: 40px;
    margin: 8px 0;
    padding-left: 12px;
}
.send .mess input{
    background: transparent;
    border: 0;
    color: initial;
    color: var(--primary-text, initial);
    margin: 0;
    outline: 0;
    padding: 0;
    width: 226px;
}
.send .send-item .icon-send{
    margin-top: 41px
}
 .form-container .cancel{

    color:black;
    
    float:right;
    margin-top:10px;
} 
.form-container .btn:hover, .open-button:hover{
    opacity:1;
}

